.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  margin: 12px 0 0;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  color: #212121;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: center / contain no-repeat url(../images/delete.svg);
  transition: background 0.5s;
  cursor: pointer;
}

.card__delete-btn:hover {
  background: center / contain no-repeat url(../images/delete-hover.svg);
}

.card__like-btn {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.5s;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url(../images/like_liked.svg);
  width: 22px;
  height: 20px;
  opacity: 1;
  transition: opacity 0.5s;
}

.card__like-btn_liked:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 260px;
    font-size: 16px;
    line-height: 1;
  }
}
