.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin: auto 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.profile__edit-btn::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/pencil.svg);
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  background-color: #212121;
  color: #fcf5e5;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  padding: 18px 32px;
  border: none;
  width: 149px;
  display: flex;
  gap: 8px;
  align-self: flex-end;
  white-space: nowrap;
  transition: background-color 0.5s;
  align-items: center;
}

.profile__add-btn::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/plus.svg);
  background-size: contain;
  flex-shrink: 0;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 auto 6px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 16px;
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
}
